[user]
  email = j.maunsell@datadoghq.com
  name = James Maunsell
[include]
  path = /Users/j.maunsell/.config/gitsign/gitconfig
[push]
	autoSetupRemote = true
[core]
	editor = vim
	hooksPath = /usr/local/dd/global_hooks
[init]
	defaultBranch = main
[fetch]
  prune = true
[pull]
  rebase = false
